<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>

<body>
  <h1>로그인 페이지 입니다!</h1>
  <a href="#">메인페이지 이동</a>
  <div class="login-container">
    <form class="login-form">
      <input type="email" name="email" placeholder="이메일 입력">
      <input type="password" name="password" placeholder="패스워드 입력">
      <button type="submit" id="login-button">로그인</button>
      <button type="click" id="signup-button">회원가입</button>
    </form>
  </div>

</body>
<script src="/login/login.js"></script>

</html>