<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/mypage/mypage.js" defer></script>
    <title>유저 마이 페이지</title>
  </head>
  <body>
    <header>
      <a href="../views/main.ejs" id="homeBtn"
        ><img src="../assets/image/home.png" alt="홈으로 가기"
      /></a>
      <h1>이 페이지는 <font color="blue"> <%=nickname %></font>회원님의 마이페이지 입니다.</h1>
    </header>
    <form class="user-detail-form" id="user-detail">
      <div>
        <ul class="user-tag" id="user-tag">
          <li>Nickname : <%=nickname %></li>
          <li>Email : <%=email %></li>
          <li>Interest : <%=interest %></li>
        </ul>
        <ul class="user-post-tag" id="user-post-tag">
          <!-- <button type="submit">게시글 조회</button> -->
          <!-- 여기 이 유저의 게시글 조회 -->
          <li>게시글 :</li>
          <li>댓글 :</li>
        </ul>
        <ul class="user-comment-tag" id="user-comment-tag">
          <!-- 여기 이 유저의 댓글 조회 -->
        </ul>
      </div>
      <button type="submit" id="nickname-update-button">수정하기</button>
      <button type="button" class="password-update-button">수정하기</button>
      <button type="button" class="interest-update-button">수정하기</button>
    </form>
  </body>
</html>
