<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/post/postDetail.js" defer></script>
    <title>게시글 상세조회</title>
  </head>
  <body>
    <header>
      <a href="/main" id="homeBtn"><img src="../assets/image/home.png" alt="홈으로 가기" /></a>
      <h1 id="title">NODE BOOK</h1>
    </header>
    <section class="detailSection">
      <img src="" alt="Post Image" class="postImage" />
      <h2 class="postTitle">타이틀</h2>
      <div class="postCategory">카테고리</div>
      <div class="postContent">내용</div>
    </section>
    <footer>
      <button class="button">수정</button>
      <button class="button">삭제</button>
      <button class="button">닫기</button>
    </footer>
  </body>
</html>
