<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
</head>

<body>
  <h1>회원가입 페이지 입니다!</h1>
  <a href="/main">🏠</a>
  <div class="signup-container">
    <form class="signup-form">
      <input type="text" name="nickname" placeholder="닉네임 입력" />
      <input type="email" name="email" placeholder="이메일 입력" />
      <input type="password" name="password" placeholder="패스워드 입력" />
      <input type="password" name="confirm" placeholder="패스워드 확인" />
      <select id="fruit" name="interest">
        <option value="Music">음악</option>
        <option value="Movie">영화</option>
      </select>
      <button type="submit" class="signup-button">가입하기</button>
      <button type="button" class="signup-cancel">취소</button>
    </form>
  </div>
</body>
<script src="/signup/signup.js"></script>

</html>